
#nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: sans-serif;
    line-height: 2.2;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    max-height: 50%;
    /*padding: 20px 40px;*/
    position: fixed;
    z-index: 600;
}
ul{
    list-style-type: none;
    width: 100%;

}
li {
    display: inline;
    padding: 15px;
    transition: color 2s;
    /*float: left;*/
}
a{
    color:rgba(131,130,132,0.8) !important;
    transition: color 0.5s;
}

a:hover{
    color: azure!important;
    text-decoration: none!important;

}
a:active{
    color: azure!important;
    text-decoration: none!important;
}
.box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    max-width: 50%;
    max-height: 50%;
    padding: 20px 40px;
    position: fixed;
}


body {
    height: 100%;
    width: 100%;
    /*max-width: 1920px;*/
    /*margin: 77px;*/
    transition: background-color 0.5s;
}


#main{
    /*text-align: center;*/
    position: relative;

    /*align-content: center;*/
}
.container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    /*position: relative;*/
}
#img1{
    width: 80%!important;
    margin: 10px;

}
#img2{
    width: 80%!important;
    margin: 10px;

    /*z-index: 100;*/
}
#img3{
    width: 80%!important;
    margin: 10px;
}
#images{
    /*width: 967px;*/
    text-align: center;
    position: relative;
    /*position: center;*/
    /*z-index: -10;*/
    /*left: 25%;*/
    margin: auto;
    /*overflow: hidden;*/
    padding-left: 5%;
    padding-right: 5%;
}
/*#img2div{*/
/*    height: 600px;*/
/*}*/
/*#main{*/
/*    position: relative;*/
/*    !*z-index: -20;*!*/
/*}*/
#img1d{
    position: relative;
    width: 100%;
    background: url(../img/03.jpg) center no-repeat ;
    background-size: 80%;
    position: relative;
}
#img2d{
    position: relative;
    width: 100%;
    background: url(../img/03.jpg) center no-repeat ;
    background-size: 80%;
}
#img3d{
    position: relative;
    width: 100%;
    background: url(../img/03.jpg) center no-repeat ;
    background-size: 80%;
}
#img4{
    position: absolute;
    opacity: 1;
    margin: 10px;
    left: 105px;
    /*top: 10px;*/
    z-index: -10;
}
/*#img2d span{*/
/*    width: 967px;*/
/*    height: 562px;*/
/*    text-align: center;*/
/*}*/
#zh{
    /*position: absolute;*/
    /*left: 10%;*/
    top: 10%;
    /*z-index: -10;*/
    color: #eeeeee;
    font-size:300%;
    /*margin: 50px;*/
}