#nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: sans-serif;
    line-height: 2.2;
    /* -webkit-backdrop-filter: blur(150px); */
    /* backdrop-filter: blur(150px); */
    position: fixed;
    z-index: 6000;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#nav::before{
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(150px);
    -o-backdrop-filter: blur(150px);
    -moz-backdrop-filter: blur(150px);
    -ms-backdrop-filter: blur(150px);
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
}


#nav li {
    padding: 0 15px 0;
    transition: color 2s;
    list-style-type: none;
}


#nav .navmenu{
    display: flex;
    /* background-color: :rgba(0,0,0,0.8); */
    /* backdrop-filter: blur(150px); */
    /* justify-content: space-between; */
}


#nav a{
    color:rgba(131,130,132,0.8) !important;
    transition: color 0.5s;
}


#nav a:hover{
    color: azure!important;
    text-decoration: none!important;

}


a:active{
    color: azure!important;
    text-decoration: none!important;
}


.box {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    max-width: 50%;
    max-height: 50%;
    padding: 20px 40px;
    position: fixed;
}


body {
    height: 100%;
    width: 100%;
    transition: background-color 0.5s;

}


#main{
    position: relative;
    z-index: 2;
}


#page {
    overflow-y: auto;
    overflow-x: hidden;
    transform: none;
}


.imgs{
    width: 80%!important;
    margin: 10px;
}


img{
    margin: 10px 0 10px!important;
}


#images{
    text-align: center;
    position: relative;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}


.imgds{
    position: relative;
    width: 100%;
    background-size: 80%!important;
    background-position: center!important;
}


#img1d{
    background: url(../img/03.jpg) center no-repeat ;
}


#img2d{
    background: url(../img/05.jpg) center no-repeat ;

}


#img3d{
    background: url(../img/03.jpg) center no-repeat ;
}


#img4{
    position: absolute;
    opacity: 1;
    margin: 10px;
    left: 105px;
    z-index: -10;
}


#footer1{
    background-color: black;
    height: 70vh;
    width: 100%;
    bottom: 0;
    z-index: 0;
    position: relative;
}


.ftr{
    position: fixed!important;
    top:50%;
    left: 45%;
    opacity: 0;
    transition: all 1s;
    color: snow;
    text-align: center;
    position: relative; 
}




.adidas div{
    width: 20px;
    height: 2px;
    background-color: rgba(131,130,132,0.8);
    margin: 4px;
}


.adidas{
    display: none;
}


@media (max-width:768px){
    .navmenu{
        font-size: large;
        font-weight: 600;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgb(0,0,0,0.65);
        top: 40px;
        left: 0;
        -o-backdrop-filter: blur(150px);
        -moz-backdrop-filter: blur(150px);
        -ms-backdrop-filter: blur(150px);
        -webkit-backdrop-filter: blur(150px);
        backdrop-filter: blur(150px);
        text-align: right;
        flex-direction: column;
        justify-content: flex-start;
        transform: translateX(-100%);
        transition: 1s ;
        z-index: 100;
        /* transform: matrix(1, 0, 0, 1, 0, 0); */
    }


    .navmenu li{
        margin: 20px 15px;
    }


    .adidas{
        display: block;
    }


    .adidas .topline{
        transition: 1s;
    }


    .adidas .bottomline{
        transition: 1s;
    }


    .ftr{
        font-size: small!important;
    }


    #images{
        padding-left: 0;
        padding-right: 0;
    }


    .navmenu li{
        transform: translateX(-250px);
        opacity: 0;
    }


    @keyframes slipIn {
        from{
            transform: translateX(-250px);
            opacity: 0;
        }
        to{
            transform: translateX(0);
            opacity: 1;
        }
    }


}


.adidas.active div{
    transition: 0.3s ease-in-out 0.3s;
}


.adidas.active .topline{
    transform: rotate(45deg) translate(4px,4.5px);
background-color: #ffffff;
}


.adidas.active .bottomline{
    transform: rotate(-45deg) translate(4px,-4.5px);
background-color: #ffffff;
}


.adidas.active .middleline{
    opacity: 0;
    transition: 1s ease-in-out;
}


.navmenu.open {
    transform: translateX(0);
    /* backdrop-filter: blur(150px); */
}


