body{
    margin:0px;padding:0px;

}

#rainy{
    position : absolute;
    left:430px;
    top:1000px;
    color: aliceblue;
}
#word1{
    position:absolute;
    left:400px;
    top:900px;
    color: aliceblue;
}
#image1{
    margin : 0;
}
#word2{
    position: absolute;
    top:300px;
    left:800px;
    color: aliceblue;
}
#word3{
    position: absolute;
    left:50%;
    top:1470px;
    color:black;
}
#friend{
    position: absolute;
    left:51%;
    top:1570px;
    color: aliceblue;
}

.concert{
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: white;
    clear: left;
}
video {    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
    /*filter:grayscale(100%);*/
}
#concert1{
    color: darkgray;
    margin: 0px;
}
.film{
    margin: 0;
}
#film1{
    position: absolute;
    top:900px;
    left:1400px;
}
#film2{
    position: absolute;
    top:1000px;
    left:1430px;
    color: black;
}
#name{
    position: absolute;
    top:290px;
    left:49%;
    color: aliceblue;
}
#name1{
    position: absolute;
    left:50%;
    top:390px;
    color: aliceblue;
}
.name2{
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: white;
    clear: left;
}
.film{
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: white;
    clear: left;
}
#film3{
    position: absolute;
    top:400px;
    left:300px;
    serif;
}